{% include 'navbar.html' %}
{% load static %}

<title>Analyze a QR code</title>

<head>
    <style>
        td{
            width: 10px;
            height: 10px;
            background-color: white;
            border: 0;
        }
        table{
            background-color: grey;
            border-collapse: collapse;
            margin: auto;
        }
        .black{
            background-color: black;
        }
        .white{
            background-color: white;
        }
        #qr_hex{
            width: 100%;
            height: 220px;
        }
    </style>
</head>

<body>
    <form class="poleqr" action="generator">
        <div class="left">
            <label for="version">Version: </label>
            <input type="number" id="version">
        </div>

        <div class="right">
            <table id="qr_table"></table>
            <textarea id="qr_hex">fec717bfc11f2e106eb0d6abb75a7155dbabdd82ec15708507faaaaafe008f76003f5af7dee2407ff329af28a6f828e978b6b993d3df03990eeb4da0887bf0f8f8f84ba5a5a5f03838382ba5a5a5a0292a1a85e4f7ebdd28a9bfa8c9f9eb7d10ab9b694380c8fa8037c5c4bfb1152af0501251cba8b9bfd5d5433ffeeb44455504cddc61fe4444dc</textarea>
        </div>
    </form>


    <script>
        document.getElementById("version").addEventListener('input', function (evt) {
            create_table(17+4*this.value)
        });

        function create_table(width){
            let table = document.getElementById("qr_table")
            table.innerHTML=""
            for(let i=0;i<width;i++){
                let row = table.insertRow()
                for(let j=0;j<width;j++){
                    row.insertCell()
                }
            }
        }

        function populate_table(qr_bytearray){
            let cells = document.getElementById("qr_table").getElementsByTagName("td")
            for (let i=0; i<cells.length; i++){
                if( (qr_bytearray[Math.floor(i/8)] & (1<<(7-i%8))) > 0 ){
                    cells[i].classList.add("black")
                }else{
                    cells[i].classList.add("white")
                }
            }
        }

        function qr_to_table(qr_bytearray){
            let width = Math.round(Math.sqrt(qr_bytearray.length*8))
            document.getElementById("version").value = (width-17)/4
            create_table(width)
            populate_table(qr_bytearray)
        }

        qr_to_table(Uint8Array.fromHex(document.getElementById("qr_hex").textContent))
    </script>
</body>
