{% load static %}
<link rel="stylesheet" href="{%static 'style.css' %}">
<div>
    <nav class = "navbar">
        <h1>
            <a class = "logo" id = "logo" href="{% static 'logo.png' %}"> 
            <img src="{% static 'logo.png' %}"  alt="Logo" style="height:50px; vertical-align: middle;">
            QRCG
            </a>
        </h1>
        <nav class = "menu">
            <ul>

                <li><h2><a class ="underline-text" href = "{% url 'home' %}">Home</a></h2></li> 
                <li><h2><a class ="underline-text" href = "{% url 'generator' %}">QR Generator</a></h2></li>
                <li><h2><a class ="underline-text" href = "{% url 'yourqr' %}">Your QR's</a></h2></li>

            </ul>
        </nav>

        <nav class="sidebar_links">
        <ul>
            <li>
                <a href="{% url 'login' %}" class= "guzik_login" style="text-decoration: none"><h2>Login</h2></a>
            </li>
            <li>
                <a href="{% url 'register' %}" class= "guzik_register" style="text-decoration: none"><h2>Register</h2></a>
            </li>
        </ul>
        </nav>
    </nav>
</div>


<!-- czeba zrobic if user zalogowany nowy navbar -->